### Домашнее задание №2 к лекции «Библиотека Pandas»

In [1]:
import pandas as pd
import numpy as np
import os

#### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

Сперва посмотрим какие в этих папках файлы и вспомним библиотеку `os`  
Что бы не забивать ноутбук выводить `info` получаемых датафреймов не будем

In [2]:
task_1_files = [file for file in os.listdir('ml-latest') if '.csv' in file]
# распакованный архив с этого сайта кладем в папку с ноутбуком
task_1_files

['links.csv',
 'tags.csv',
 'genome-tags.csv',
 'ratings.csv',
 'genome-scores.csv',
 'movies.csv']

In [3]:
%%time
for i,n in enumerate(task_1_files):
    display('Имя файла:' + n, (pd.read_csv(os.getcwd() + '/ml-latest/' + task_1_files[i]).head(3)))

'Имя файла:links.csv'

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0

'Имя файла:tags.csv'

   userId  movieId       tag   timestamp
0      14      110      epic  1443148538
1      14      110  Medieval  1443148532
2      14      260    sci-fi  1442169410

'Имя файла:genome-tags.csv'

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century

'Имя файла:ratings.csv'

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471

'Имя файла:genome-scores.csv'

   movieId  tagId  relevance
0        1      1    0.02900
1        1      2    0.02375
2        1      3    0.05425

'Имя файла:movies.csv'

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

CPU times: user 7.32 s, sys: 1.08 s, total: 8.4 s
Wall time: 8.41 s

Нам понадобятся файлы __ratings.csv__ и __movies.csv__

In [4]:
ratings = pd.read_csv(os.getcwd() + '/ml-latest/' + task_1_files[3])
movies = pd.read_csv(os.getcwd() + '/ml-latest/' + task_1_files[5])

Получим название искомого фильма двумя способами:  
- получим его `id`, после чего отфильтруем по нему названия фильмов
- соединим таблицу рейтингов с таблицей фильмов по `id`, после чего отфильтруем только оценки 5, посчитаем количества каждого фильма, отсортируем серию, и выведем индекс последнего значения

1 вариант

In [5]:
best_movie_id = ratings.query('rating == 5.0')['movieId'].value_counts().idxmax()

In [6]:
movies.query('movieId == @best_movie_id')['title'].values[0]

'Shawshank Redemption, The (1994)'

2 вариант

In [7]:
result = pd.merge(ratings, movies, how='left', on = 'movieId')
result.head(3)

,userId,movieId,rating,timestamp,title,genres
0,1,307,3.5,1256677221,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
1,1,481,3.5,1256677456,Kalifornia (1993),Drama|Thriller
2,1,1091,1.5,1256677471,Weekend at Bernie's (1989),Comedy

In [8]:
result.query('rating == 5.0')['title'].value_counts().sort_values().tail(1).index[0]

'Shawshank Redemption, The (1994)'

Оба варианта возвращают одно название

#### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [9]:
task_2_files = [file for file in os.listdir('Основы_pandas') if '.csv' in file]
# распакованный архив с дополнительными файлами этого блока кладем в папку с ноутбуком
task_2_files

['power.csv', 'transactions.csv']

In [10]:
for i,n in enumerate(task_2_files):
    display('Имя файла:' + n, (pd.read_csv(os.getcwd() + '/Основы_pandas/' + task_2_files[i]).head(3)))

'Имя файла:power.csv'

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1

'Имя файла:transactions.csv'

   Year  Month    ID Product  Amount  Price  Total  Cost
0  2017      1  t001      A1       7   2904  20328  1200
1  2017      1  t002      A2       2   1896   3792  1100
2  2017      2  t003      A1       5   2904  14520  1200

In [11]:
power = pd.read_csv(os.getcwd() + '/Основы_pandas/' + task_2_files[0])

Проверим отсортированный список стран

In [12]:
np.sort(power['country'].unique())

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antarctic Fisheries', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plur. State of)', 'Bonaire, St Eustatius, Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Rep.', 'Chad',
       'Chile', 'China', 'China, Hong Kong SAR', 'China, Macao SAR',
       'Colombia', 'Commonwealth of Independent States (CIS)', 'Comoros',
       'Congo', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba',
       'Curaçao', 'Cyprus', 'Czechia', 'Czechoslovakia (former)',
       "Côte d'Ivoire", 'Dem. Rep. of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Ethiopia, incl. Eritrea', 'Faeroe Islands',
       'Falkland Is. (Malvinas)', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'German Dem. R. (former)', 'Germany', 'Germany, Fed. R. (former)',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran (Islamic Rep. of)', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea, Dem.Ppl's.Rep.", 'Korea, Republic of', 'Kuwait',
       'Kyrgyzstan', "Lao People's Dem. Rep.", 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania',
       'Mauritius', 'Mayotte', 'Mexico', 'Micronesia (Fed. States of)',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Neth. Antilles (former)',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Northern Mariana Islands', 'Norway',
       'Oman', 'Other Asia', 'Pacific Islands (former)', 'Pakistan',
       'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda',
       'Réunion', 'Samoa', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Serbia and Montenegro', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'St. Helena and Depend.', 'St. Kitts-Nevis', 'St. Lucia',
       'St. Pierre-Miquelon', 'St. Vincent-Grenadines',
       'State of Palestine', 'Sudan', 'Sudan (former)', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'T.F.Yug.Rep. Macedonia', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'USSR (former)', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United Rep. of Tanzania', 'United States',
       'United States Virgin Is.', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivar. Rep.)', 'Viet Nam', 'Wallis and Futuna Is.',
       'Yemen', 'Yemen Arab Rep. (former)', 'Yemen, Dem. (former)',
       'Yugoslavia, SFR (former)', 'Zambia', 'Zimbabwe'], dtype=object)

Проверим список с отфильтрованными странами

In [13]:
power[
    power['country'].str.contains('lat|lit|esto', case=False)
]['country'].unique()

array(['Lithuania', 'Latvia', 'Estonia'], dtype=object)

Получим суммарное потребление стран Прибалтики согласно условию

In [14]:
power[
    power['country'].str.contains('lat|lit|esto', case=False)
].query('2005 <=year <= 2010 & quantity > 0 & category in [4,12,21]')['quantity'].sum()

240580.0

#### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):  
https://fortrader.org/quotes  
www.finanz.ru...om-vremeni

In [15]:
url_1 = "https://fortrader.org/currencyrates"
url_2 = "https://www.finanz.ru/aktsii/realnom-vremeni-spisok/nasdaq_100"

In [16]:
fortrader = pd.read_html(url_1, encoding='utf-8')[0]

In [17]:
fortrader.head(10)

   Код  Количество             Название      RUB  Изменение
0  USD           1           Доллар США  72.2953    -0.5811
1  EUR           1                 Евро  75.3117    -0.6107
2  CNY           1       Китайский юань  10.9613    -0.1610
3  TJS          10    Таджикский сомони  57.8594    -0.4650
4  GBP           1      Фунт стерлингов  90.3908    -1.5865
5  KZT         100  Казахстанский тенге  16.0817     0.0130
6  TRY          10        Турецкая лира  48.8165    -0.4899
7  UAH          10    Украинская гривна  23.8808    -0.7003
8  PLN           1      Польский злотый  16.1680    -0.2043
9  BYN           1    Белорусский рубль  27.2463    -0.1148

In [18]:
finanz = pd.read_html(url_2, attrs={'class':'quote_list'}, encoding='utf-8')[0]
finanz.head(2)

,Unnamed: 0,"Имя function __handleSortingClick(componentName, fieldName, sortOrder) { $.ajax({ url: ""/Ajax/IndexShareListForRealtime/Nasdaq_100"", type: ""post"", data: ""orderBy="" + componentName + "":"" + fieldName + "":"" + sortOrder, success: function (v, x) { $('#index-list-container').html(v); try { trackPI(); } catch (e) { } }, error: function () { } }); }",ISIN,Пред. закр.,Посл. зн.,Объём,%,+/-,Время
0,NaN,Activision Blizzard,US00507V1098,7670,7670,0,"0,79%",60,28.04.2022
1,NaN,Adobe,US00724F1012,41053,41053,0,"3,17%",1263,28.04.2022

Для `finanz` метод выводит странное название столбца __"Имя"__ и странный пустой столбец. От него проще избавиться

In [19]:
finanz = pd.read_html(url_2, attrs={'class':'quote_list'}, encoding='utf-8', index_col=0)[0].reset_index(drop=True)

In [20]:
finanz.columns = ['Имя','ISIN', 'Пред. закр.', 'Посл. зн.', 'Объём', '%', '+/-', 'Время']

In [21]:
finanz.head(10)

,Имя,ISIN,Пред. закр.,Посл. зн.,Объём,%,+/-,Время
0,Activision Blizzard,US00507V1098,7670,7670,0,"0,79%",60,28.04.2022
1,Adobe,US00724F1012,41053,41053,0,"3,17%",1263,28.04.2022
2,Align Technology,US0162551016,30466,30466,0,"-15,47%",-5577,28.04.2022
3,Alphabet A,US02079K3059,"2 370,45","2 370,45",0,"3,70%",8456,28.04.2022
4,Alphabet C,US02079K1079,"2 388,23","2 388,23",0,"3,82%",8782,28.04.2022
5,Amazon,US0231351067,"2 891,93","2 891,93",0,"4,65%",12859,28.04.2022
6,AMD,US0079031078,8964,8964,0,"5,57%",473,28.04.2022
7,American Electric Power,US0255371017,10243,10243,0,"2,91%",290,28.04.2022
8,Amgen,US0311621009,23813,23813,0,"-4,28%",-1066,28.04.2022
9,Analog Devices,US0326541051,16045,16045,0,"5,75%",873,28.04.2022