### Домашнее задание №2 к лекции «Библиотека Pandas»

In [1]:
import pandas as pd
import numpy as np
import os

#### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

Сперва посмотрим какие в этих папках файлы и вспомним библиотеку `os`  
Что бы не забивать ноутбук выводить `info` получаемых датафреймов не будем

In [2]:
task_1_files = [file for file in os.listdir('ml-latest') if '.csv' in file]
# распакованный архив с этого сайта кладем в папку с ноутбуком
task_1_files

['links.csv',
 'tags.csv',
 'genome-tags.csv',
 'ratings.csv',
 'genome-scores.csv',
 'movies.csv']

In [3]:
%%time
for i,n in enumerate(task_1_files):
    display('Имя файла:' + n, (pd.read_csv(os.getcwd() + '/ml-latest/' + task_1_files[i]).head(3)))

'Имя файла:links.csv'

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0

'Имя файла:tags.csv'

   userId  movieId       tag   timestamp
0      14      110      epic  1443148538
1      14      110  Medieval  1443148532
2      14      260    sci-fi  1442169410

'Имя файла:genome-tags.csv'

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century

'Имя файла:ratings.csv'

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471

'Имя файла:genome-scores.csv'

   movieId  tagId  relevance
0        1      1    0.02900
1        1      2    0.02375
2        1      3    0.05425

'Имя файла:movies.csv'

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

CPU times: user 11.7 s, sys: 1.98 s, total: 13.7 s
Wall time: 14 s

Нам понадобятся файлы __ratings.csv__ и __movies.csv__

In [ ]:
ratings = pd.read_csv(os.getcwd() + '/ml-latest/' + task_1_files[3])
movies = pd.read_csv(os.getcwd() + '/ml-latest/' + task_1_files[5])

Получим название искомого фильма двумя способами:  
- получим его `id`, после чего отфильтруем по нему названия фильмов
- отфильтруем только оценки 5, после чего соединим таблицу рейтингов с таблицей фильмов по `id`, посчитаем количества каждого фильма, отсортируем серию, и выведем индекс последнего значения

1 вариант

In [ ]:
%%time
best_movie_id = ratings.query('rating == 5.0')['movieId'].value_counts().idxmax()
movies.query('movieId == @best_movie_id')['title'].values[0]

2 вариант

In [ ]:
%%time
result = pd.merge(ratings.query('rating == 5.0'), movies, how='left', on = 'movieId')
result['title'].value_counts().sort_values().tail(1).index[0]

Оба варианта возвращают одно название, но первый немного быстрее

#### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [ ]:
task_2_files = [file for file in os.listdir('Основы_pandas') if '.csv' in file]
# распакованный архив с дополнительными файлами этого блока кладем в папку с ноутбуком
task_2_files

In [ ]:
for i,n in enumerate(task_2_files):
    display('Имя файла:' + n, (pd.read_csv(os.getcwd() + '/Основы_pandas/' + task_2_files[i]).head(3)))

In [ ]:
power = pd.read_csv(os.getcwd() + '/Основы_pandas/' + task_2_files[0])

Проверим отсортированный список стран

In [ ]:
np.sort(power['country'].unique())

Проверим список с отфильтрованными странами

In [ ]:
power[
    power['country'].str.contains('lat|lit|esto', case=False)
]['country'].unique()

Получим суммарное потребление стран Прибалтики согласно условию двумя способами:  
- фильтруя страны по нескольким буквам
- фильтруя страны по полным названиям

In [ ]:
power[
    power['country'].str.contains('lat|lit|esto', case=False)
].query('2005 <=year <= 2010 & quantity > 0 & category in [4,12,21]')['quantity'].sum()

In [ ]:
power[
    power['country'].isin(['Lithuania', 'Latvia', 'Estonia'])
].query('2005 <=year <= 2010 & quantity > 0 & category in [4,12,21]')['quantity'].sum()

#### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):  
https://fortrader.org/currencyrates  
https://www.finanz.ru/aktsii/realnom-vremeni-spisok/nasdaq_100

In [ ]:
url_1 = "https://fortrader.org/currencyrates"
url_2 = "https://www.finanz.ru/aktsii/realnom-vremeni-spisok/nasdaq_100"

In [ ]:
fortrader = pd.read_html(url_1, encoding='utf-8')[0]

In [ ]:
fortrader.head(10)

In [ ]:
finanz = pd.read_html(url_2, attrs={'class':'quote_list'}, encoding='utf-8')[0]
finanz.head(2)

Для `finanz` метод выводит странное название столбца __"Имя"__ и странный пустой столбец. Название столбца надо восстановить, от столбца __"Unnamed: 0"__ - избавиться

In [ ]:
finanz = pd.read_html(url_2, attrs={'class':'quote_list'}, encoding='utf-8', index_col=0)[0].reset_index(drop=True)

In [ ]:
finanz.columns = ['Имя','ISIN', 'Пред. закр.', 'Посл. зн.', 'Объём', '%', '+/-', 'Время']

In [ ]:
finanz.head(10)