### Домашнее задание №2 к лекции «Библиотека Pandas»

In [1]:
import pandas as pd
import numpy as np
import os

#### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

Сперва посмотрим какие в этих папках файлы и вспомним библиотеку `os`  
Что бы не забивать ноутбук выводить `info` получаемых датафреймов не будем

In [2]:
task_1_files = [file for file in os.listdir('ml-latest') if '.csv' in file]
# распакованный архив с этого сайта кладем в папку с ноутбуком
task_1_files

['links.csv', 'tags.csv', 'ratings.csv', 'keywords.csv', 'movies.csv']

In [3]:
%%time
for i,n in enumerate(task_1_files):
    display('Имя файла:' + n, (pd.read_csv(os.getcwd() + '/ml-latest/' + task_1_files[i]).head(3)))

'Имя файла:links.csv'

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0

'Имя файла:tags.csv'

   userId  movieId                      tag   timestamp
0      15      339  sandra 'boring' bullock  1138537770
1      15     1955                  dentist  1193435061
2      15     7478                 Cambodia  1170560997

'Имя файла:ratings.csv'

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182

'Имя файла:keywords.csv'

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114

'Имя файла:movies.csv'

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

CPU times: user 196 ms, sys: 22.5 ms, total: 219 ms
Wall time: 221 ms

Нам понадобятся файлы __ratings.csv__ и __movies.csv__

In [4]:
ratings = pd.read_csv(os.getcwd() + '/ml-latest/' + task_1_files[2])
movies = pd.read_csv(os.getcwd() + '/ml-latest/' + task_1_files[4])

Получим название искомого фильма двумя способами:  
- получим его `id`, после чего отфильтруем по нему названия фильмов
- отфильтруем только оценки 5, после чего соединим таблицу рейтингов с таблицей фильмов по `id`, посчитаем количества каждого фильма, отсортируем серию, и выведем индекс последнего значения

1 вариант

In [5]:
%%time
best_movie_id = ratings.query('rating == 5.0')['movieId'].value_counts().idxmax()
movies.query('movieId == @best_movie_id')['title'].values[0]

CPU times: user 13.6 ms, sys: 5.42 ms, total: 19 ms
Wall time: 16.3 ms

'Shawshank Redemption, The (1994)'

2 вариант

In [6]:
%%time
result = pd.merge(ratings.query('rating == 5.0'), movies, how='left', on = 'movieId')
result['title'].value_counts().sort_values().tail(1).index[0]

CPU times: user 19 ms, sys: 3.83 ms, total: 22.8 ms
Wall time: 20.1 ms

'Shawshank Redemption, The (1994)'

Оба варианта возвращают одно название, но первый немного быстрее

#### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [7]:
task_2_files = [file for file in os.listdir('Основы_pandas') if '.csv' in file]
# распакованный архив с дополнительными файлами этого блока кладем в папку с ноутбуком
task_2_files

['visit_log.csv',
 'power.csv',
 'transactions.csv',
 'keywords.csv',
 'sales_db.csv']

In [8]:
for i,n in enumerate(task_2_files):
    display('Имя файла:' + n, (pd.read_csv(os.getcwd() + '/Основы_pandas/' + task_2_files[i]).head(3)))

'Имя файла:visit_log.csv'

  timestamp;visit_id;url;region;user_id;traffic_source
0  1549980692;e3b0c44298;https://host.ru/3c19b4ef...
1  1549980704;6e340b9cff;https://host.ru/c8d9213a...
2  1549980715;96a296d224;https://host.ru/b8b58337...

'Имя файла:power.csv'

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1

'Имя файла:transactions.csv'

   Year  Month    ID Product  Amount  Price  Total  Cost
0  2017      1  t001      A1       7   2904  20328  1200
1  2017      1  t002      A2       2   1896   3792  1100
2  2017      2  t003      A1       5   2904  14520  1200

'Имя файла:keywords.csv'

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114

'Имя файла:sales_db.csv'

   user_id     category  cost
0        1  Электроника    87
1        1         Дача    10
2        1         Дети     2

In [9]:
power = pd.read_csv(os.getcwd() + '/Основы_pandas/' + task_2_files[1])

Проверим отсортированный список стран

In [10]:
np.sort(power['country'].unique())

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antarctic Fisheries', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plur. State of)', 'Bonaire, St Eustatius, Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Rep.', 'Chad',
       'Chile', 'China', 'China, Hong Kong SAR', 'China, Macao SAR',
       'Colombia', 'Commonwealth of Independent States (CIS)', 'Comoros',
       'Congo', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba',
       'Curaçao', 'Cyprus', 'Czechia', 'Czechoslovakia (former)',
       "Côte d'Ivoire", 'Dem. Rep. of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Ethiopia, incl. Eritrea', 'Faeroe Islands',
       'Falkland Is. (Malvinas)', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'German Dem. R. (former)', 'Germany', 'Germany, Fed. R. (former)',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran (Islamic Rep. of)', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea, Dem.Ppl's.Rep.", 'Korea, Republic of', 'Kuwait',
       'Kyrgyzstan', "Lao People's Dem. Rep.", 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania',
       'Mauritius', 'Mayotte', 'Mexico', 'Micronesia (Fed. States of)',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Neth. Antilles (former)',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Northern Mariana Islands', 'Norway',
       'Oman', 'Other Asia', 'Pacific Islands (former)', 'Pakistan',
       'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda',
       'Réunion', 'Samoa', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Serbia and Montenegro', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'St. Helena and Depend.', 'St. Kitts-Nevis', 'St. Lucia',
       'St. Pierre-Miquelon', 'St. Vincent-Grenadines',
       'State of Palestine', 'Sudan', 'Sudan (former)', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'T.F.Yug.Rep. Macedonia', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'USSR (former)', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United Rep. of Tanzania', 'United States',
       'United States Virgin Is.', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivar. Rep.)', 'Viet Nam', 'Wallis and Futuna Is.',
       'Yemen', 'Yemen Arab Rep. (former)', 'Yemen, Dem. (former)',
       'Yugoslavia, SFR (former)', 'Zambia', 'Zimbabwe'], dtype=object)

Проверим список с отфильтрованными странами

In [11]:
power[
    power['country'].str.contains('lat|lit|esto', case=False)
]['country'].unique()

array(['Lithuania', 'Latvia', 'Estonia'], dtype=object)

Получим суммарное потребление стран Прибалтики согласно условию двумя способами:  
- фильтруя страны по нескольким буквам
- фильтруя страны по полным названиям

In [12]:
power[
    power['country'].str.contains('lat|lit|esto', case=False)
].query('2005 <=year <= 2010 & quantity > 0 & category in [4,12,21]')['quantity'].sum()

240580.0

In [13]:
power[
    power['country'].isin(['Lithuania', 'Latvia', 'Estonia'])
].query('2005 <=year <= 2010 & quantity > 0 & category in [4,12,21]')['quantity'].sum()

240580.0

#### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):  
https://fortrader.org/currencyrates  
https://www.finanz.ru/aktsii/realnom-vremeni-spisok/nasdaq_100

In [14]:
url_1 = "https://fortrader.org/currencyrates"
url_2 = "https://www.finanz.ru/aktsii/realnom-vremeni-spisok/nasdaq_100"

In [15]:
fortrader = pd.read_html(url_1, encoding='utf-8')[0]

In [16]:
fortrader.head(10)

   Код  Количество             Название      RUB  Изменение
0  USD           1           Доллар США  66.2378    -3.1782
1  EUR           1                 Евро  70.0662    -2.7153
2  CNY          10       Китайский юань  99.9646    89.4769
3  TJS          10    Таджикский сомони  53.0114    -2.5436
4  GBP           1      Фунт стерлингов  82.7906    -4.0766
5  KZT         100  Казахстанский тенге  15.1626    -0.5552
6  TRY          10        Турецкая лира  44.7598    -2.1477
7  UAH          10    Украинская гривна  22.4185    -1.0757
8  PLN           1      Польский злотый  14.9951    -0.6205
9  BYN           1    Белорусский рубль  26.0031    -0.6288

In [17]:
finanz = pd.read_html(url_2, attrs={'class':'quote_list'}, encoding='utf-8')[0]
finanz.head(2)

,Unnamed: 0,"Имя function __handleSortingClick(componentName, fieldName, sortOrder) { $.ajax({ url: ""/Ajax/IndexShareListForRealtime/Nasdaq_100"", type: ""post"", data: ""orderBy="" + componentName + "":"" + fieldName + "":"" + sortOrder, success: function (v, x) { $('#index-list-container').html(v); try { trackPI(); } catch (e) { } }, error: function () { } }); }",ISIN,Пред. закр.,Посл. зн.,Объём,%,+/-,Время
0,NaN,Activision Blizzard,US00507V1098,7876,7876,0,"-0,61%",-48,05.05.2022
1,NaN,Adobe,US00724F1012,40051,40051,0,"-5,40%",-2284,05.05.2022

Для `finanz` метод выводит странное название столбца __"Имя"__ и странный пустой столбец. Название столбца надо восстановить, от столбца __"Unnamed: 0"__ - избавиться

In [18]:
finanz = pd.read_html(url_2, attrs={'class':'quote_list'}, encoding='utf-8', index_col=0)[0].reset_index(drop=True)

In [19]:
finanz.columns = ['Имя','ISIN', 'Пред. закр.', 'Посл. зн.', 'Объём', '%', '+/-', 'Время']

In [20]:
finanz.head(10)

,Имя,ISIN,Пред. закр.,Посл. зн.,Объём,%,+/-,Время
0,Activision Blizzard,US00507V1098,7876,7876,0,"-0,61%",-48,05.05.2022
1,Adobe,US00724F1012,40051,40051,0,"-5,40%",-2284,05.05.2022
2,Align Technology,US0162551016,28372,28372,0,"-8,74%",-2717,05.05.2022
3,Alphabet A,US02079K3059,"2 330,11","2 330,11",0,"-4,71%",-11511,05.05.2022
4,Alphabet C,US02079K1079,"2 334,93","2 334,93",0,"-4,76%",-11657,05.05.2022
5,Amazon,US0231351067,"2 328,14","2 328,14",0,"-7,56%",-19043,05.05.2022
6,AMD,US0079031078,9387,9387,0,"-5,58%",-555,05.05.2022
7,American Electric Power,US0255371017,9966,9966,0,"-1,05%",-106,05.05.2022
8,Amgen,US0311621009,23435,23435,0,"-0,74%",-175,05.05.2022
9,Analog Devices,US0326541051,15824,15824,0,"-3,96%",-653,05.05.2022